.Attach {
  margin: 0px 3px;
}

.Attach input.Attach__Input:focus {
  background: #fff;
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}

.Attach__Submit {
  margin: 1px 0px;
}

.Attach.Attach--invalid input.Attach__Input,
.Attach.Attach--invalid input.Attach__Input:focus {
  border-color: #eb5a46;
  box-shadow: 0 0 2px #eb5a46;
  margin-bottom: 0px;
}

.Attach.Attach--invalid .Attach__Error {
  box-sizing: border-box;
  display: block;
  padding: 0.5em;
  color: #ef7564;
  font-size: 9pt;
  margin: 0;
  padding: 0.5em 0;
}
.Attach.Attach--invalid .Attach__Error a {
  color: #ef7564;
  font-size: 9pt;
}
